extends layout 
 
block content 
  h1= title 
 
  form(id='butterflyForm', action="/resource/butterflys", method="POST") 
    div.form-group 
        label.butterflyAttr(for='butterfly_type') butterfly type 
        input#butterfly_type(type='text', name='butterfly_type') 
    div.form-group 
        label.butterflyAttr(for='size') butterfly size 
        input#size(type='text', name='size') 
    div.form-group 
        label.butterflyAttr(for='cost') butterfly cost 
        input#cost(type='number', name='cost') 
    input(type="submit") 
 
  script. 
    document.forms['butterflyForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'POST', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Save succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Save failed " + error ) 
      }); 
    }); 